.nav {
    background-color: cadetblue;
    height: 40px;
    overflow: hidden;
    position: relative;
}

    .nav ul {
        list-style: none;
        -webkit-padding-start: 0;
    }

    .nav ul li {
        float: left;
        padding: 0 10px 0 10px;
    }
