.layout {
    width: 100%;
    background-color: lightslategrey;
    position: relative;
}

.page {
    width: 960px;
    margin: 42px auto 0 auto;
    background-color: lightcoral;
}

.leftmenu {
    background-color: lightblue;
    margin: 0;
    width: 160px;
    border-style: solid;
    border-color: black;
    border-width: 0 1px;
}

body {
    margin: 0;
}
